*, * > *{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
:root{
    --purple:#A64AC9;
}

body{background:#222; font-size:16px; font-family:Asap, sans-serif;}
img{width:100%; height:auto;}
a{color:var(--purple); text-decoration:none;}
a:hover{text-decoration:underline;}
a.button{display:inline-block; padding:5px 10px; text-align:center; background:white; color:var(--purple); border:2px solid var(--purple); border-radius:5px; text-decoration:none; transition:all 0.5s;}
a.button:hover{background-color:var(--purple); color:white;}

.container{background:white; color:black; margin:20px auto 0; width:50%; padding:20px;

/*
    Explaining the box model-
    margin: sets spacing outside of container, between border and other elements
    padding: sets spacing inside of container, between border and content
    content: holds content
*/

}
.container:after{content:''; display:block; clear:both;}
.clearFix{clear:both;}
.inner{float:left;}
.card{margin:10px 0 10px 10px; border:2px solid #222; padding:10px; text-align:center; float:right; width:40%;}
.card h3{margin-top:0;}

.left-col{float:left; width:60%;}
.right-col{float:right; width:40%;}

.left-col h1{color:var(--purple);}

@media (max-width:1200px){
    .container{width:70%;}
    .left-col, .right-col, .card{width:100%;}
    .right-col{padding-top:20px;}
}
@media (max-width:600px){
    .container{width:90%;}
    .card{float:none; margin:10px 0;}
}